<%= form_with model: user do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, required: true %>
    <% user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :role %><br>
    <br>
     <%= form.collection_select(:role, User.roles.map{ |a| [a[0], a[0].titleize] },  :first, :second, { prompt: "Select Role" },:class=>"form-control") %>
    <% user.errors.full_messages_for(:role).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
