<%= form_with model: user do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, required: true, class: 'form-control' %>
    <% user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :role %><br>
     <%= form.collection_select(:role, User.roles.map{ |a| [a[0], a[0].titleize] },  :first, :second, { prompt: "Select Role" },:class=>"form-control col-auto") %>
    <% user.errors.full_messages_for(:role).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.submit 'Create User', class: 'btn btn-primary' %>
  </div>
<% end %>
