<p id="notice"><%= notice %></p>

<h1>All Tickets</h1>

<br />
<% unless current_user.developer? %>
  <%= link_to "New Ticket", new_ticket_path, class: 'btn btn-primary' %>
  <%= link_to "Export Ticket to CSV", tickets_path(format: 'csv'), class: 'btn btn-primary' %>

  <%= render "import_tickets", tickets: @tickets %>
<% end %>

<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.status.titlecase %></td>
        <td><%= link_to 'Show', ticket, class: 'btn btn-primary' %></td>
        <% unless current_user.developer? %>
        <td><%= link_to 'Edit', edit_ticket_path(ticket), class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
