<p id="notice"><%= notice %></p>

<h1><%= @ticket.title %></h1>

<p>Description: <%= @ticket.description %></p>

<div>
Status:
  <span id="ticket_status">
    <%= render "status", ticket: @ticket %>
  </span>
</div>

<h2>Comments</h2>
 <%= render @ticket.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
