<p id="notice"><%= notice %></p>

<p>
<strong>Title:</strong>
<%= @ticket.title %>
</p>

<p>
<strong>Description:</strong>
<%= @ticket.description %>
</p>

<div>
Status:
  <span id="ticket_status">
    <%= render "status", ticket: @ticket %>
  </span>
</div>
<br>
<h4>Comments</h4>
 <%= render @ticket.comments %>

<strong>Add a comment:</strong>
<%= render 'comments/form' %>
